/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');


/* Стили для оверлея */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Прозрачный черный фон */
  display: none; /* Скрыт по умолчанию */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Чтобы он был поверх других элементов */
}

/* Стили для индикатора */
.loader {
  border: 8px solid #f3f3f3; /* Светлый фон */
  border-top: 8px solid #3498db; /* Синий цвет для анимации */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Анимация вращения */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Стили для показывания оверлея */
.show {
  display: flex !important; /* Показываем индикатор */
}
